{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    <div id="weather">
        {% for post in posts %}
        <div style='float: left;'>
            <img src={{post[2]}} alt='weather icon'>
        </div>
        <div style='float: left;'>
            <p style="font-size: 40px;">{{post[8]}}&#176C</p>
            <p style="font-size: 20px;">{{post[3]}}</p>
        </div>
        <div style='float: left;'>
            <p><b>Cloud cover: </b>{{post[1]}}%</p>
            <p><b>Precipitation: </b>{{post[7]}}</p>
            <p><b>Wind speed: </b>{{post[9]}}</p>
        </div>
        {% endfor %}
    </div>

    <div id="userOptions" style="clear: both;">
        <div id="select">
            <p>Please select a station</p>
            <select id="stations" name="stations"></select>
        </div>
        
        <div id="filters">
            <div id="filter1">
                <!--    label for the parking slot toggle switch-->
                <label style='font-family: sans-serif;'>Free parking stations:</label>
                <!--    declare a input type checkbox for available parking slots which acts a toggle switch using css-->
                <label class="toggle">
                    <input id="slideparking" type="checkbox" display="none" onclick="slideparking_click()"><span class="slider"></span>
                </label>
            </div>
            <div id="filter2">
                <!--    label for the available bikes toggle switch-->
                <label style='font-family: sans-serif;'>Free bikes:</label>
                <!--    declare another input type checkbox for available bikes which acts a toggle switch using css-->
                <label class="toggle">
                    <input id="slidebikeavailable" type="checkbox" display="none" onclick="slidebikeavailable_click()"><span class="slider"></span>
                </label>
            </div> 
        </div>
    </div>

    <div id="map"></div>

    <script>
        // Create a dropdown list for the days with the select tag
        selectButton = document.createElement("input");
        selectButton.type = "button";
        selectButton.id = "stationSelect";
        selectButton.value = "submit";
        selectButton.style.display = "block";
        // Add the select button between within the userOptions div before the tag with id filter
        let filter = document.getElementById("filter");
        select = document.getElementById("select");
        select.insertBefore(selectButton,select.firstElementChild.nextSibling);
        
        // create a variable to check the status of switch whether the it is on or off
        var parking_slots_filter = false;
        var bikes_available_filter = false;
        // create a function to show the markers acc to choise made
        function slidebikeavailable_click(){
        // check if the switch is on, if it is on change the variable status and call the map function
            if(document.getElementById("slidebikeavailable").checked == true){
                bikes_available_filter = true;
            }
            else{
                bikes_available_filter = false;
            }
            initMap();
        }
        function slideparking_click(){
            if(document.getElementById("slideparking").checked == true){
                parking_slots_filter = true;
            }
            else{
                parking_slots_filter = false;
            }
            initMap();
        }
        let map;
        // array of map markers
        let markers = [];
        function initMap() {
            // this result is cached using lru_cache decorator
            // static and dynamic arrays logged to console are within the scope of map marker and info window functions
            fetch("/stations").then(response => {
                return response.json();
            }).then(static => {
                console.log(static);
            // map centered on Dublin
            map = new google.maps.Map(document.getElementById("map"), {
                center: {lat: 53.3470, lng: -6.2603},
                zoom: 13.5,
            });
            fetch("/dynamic").then(response => {
                return response.json();
            }).then(dynamic => {
                console.log(dynamic);
            let i = 0;
            static.forEach(station => {
                dropDownList = document.getElementById("stations");
                // populate select element with station options
                var stOp = document.createElement("option");
                stOp.setAttribute("value",station.num);
                stOp.setAttribute("label",station.name);
                dropDownList.appendChild(stOp); 

                // create unique marker for each station
                const marker = new google.maps.Marker({
                    position: {lat: station.latitude, lng: station.longitude},
                    map: map});
                    // create an info window to display station and dynamic information
                    var infowindow = new google.maps.InfoWindow({
                        content: '<h3>'+station.name+'</h3><p><b> Available bikes </b></p><p>'+dynamic[i].bikes_free+'</p>'+
                                        '<p><b>Parking slots</b></p><p>'+dynamic[i].stands_free,
                    });

                    // check if the variable is true and if the bike stands for any of the station is 0
                    if(parking_slots_filter == true && station.stands_free == 0){
                    // if any of the station is not having parking slots, then hide that station marker
                        marker.setVisible(false);
                    }
                    // check if available bikes variable is true and if any station with available bikes as 0
                    if(bikes_available_filter == true && station.bikes_free == 0){
                    // if any of the station is not having parking slots, then hide that station marker
                        marker.setVisible(false);
                    }
                    // add event listeners to map markers
                    google.maps.event.addListener(marker,"mouseover",function() {
                        infowindow.open(map,marker);
                    })
                    google.maps.event.addListener(marker,"mouseout",function() {
                        infowindow.close();
                    })
                    google.maps.event.addListener(marker,"click",function() {
                        map.setZoom(15);
                        map.setCenter(marker.getPosition());
                    })
                i++;
                })
                // function to get the station that is selected in the dropdown list
                function getSelectedStation() {
                    var statSel = document.getElementById("stations");
                    var statSelLen = statSel.options.length;
                    for (var i=0; i<statSelLen; i++) {
                        opt = statSel.options[i];
                        if (opt.selected === true) {
                            break;
                        }
                    }
                    return opt.value;
                }
                // Assign onclick handler to the Submit button.
                document.getElementById("stationSelect").onclick = function () {
                    selStat = getSelectedStation();
                    numStat = parseInt(selStat,10);
                    // zoom and center the map on the selected station
                    for (station of static) {
                        if (station.num == numStat) {
                            var lat = parseFloat(station.latitude,10);
                            var lng = parseFloat(station.longitude,10);
                            latlng = new google.maps.LatLng(lat,lng);
                            map.setZoom(16);
                            map.setCenter(latlng);
                        }
                    }
                }
            })});
        }
</script>

<!-- Async script executes immediately and must be after any DOM elements used in callback. -->
<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBIjfPvdos15QUCS8h7xo-wHBao8qCGcwc&callback=initMap">
</script>
{% endblock %}