<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
        <a href="/home/"><img class="Logo" src="{{ url_for('static', filename='dublinbikes-logo.bmp') }}" alt="Logo"></a>
            <title>Dublin Bikes: {% block title %}{% endblock %}</title>
    </head>

    <body>
        <header>
            <nav>
                <a href="/">Home</a>
                <a href="/about">About</a>
                <a href="/subscribe">Subscriptions</a>
                <a href="/terms">Terms</a>
            </nav>
        </header>
        
        <footer><p style='padding-top: 5px;'>Copyright &copy; 2009-2021 Dublin Bikes</p></footer>

        <main>
            {% block main %}{% endblock %}
        </main>

    </body>

</html>