<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css') }}">
        <a href="/home/"><img class="Logo" src="{{ url_for('static', filename='dublinbikes-logo.bmp') }}" alt="Logo"></a>
            <title>Dublin Bikes: {% block title %}{% endblock %}</title>
    </head>

    <body>
        <nav>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/stations/map">Map</a>
            <a href="/subscribe">Subscriptions</a>
            <a href="/terms">TCs</a>
        </nav>
        <footer><p>Copyright &copy; 2009-2021 Dublin Bikes</p></footer>

        <main>
            {% block main %}{% endblock %}
        </main>

    </body>

</html>